body {
    background-color: coral;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-display: center;
    background-image: url("../images/misc.png");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 350px;
    padding-left: 80px;
}

.card {

    background-color: #ff7f507d;
    max-width: 830px;
    padding: 1%;

}